body {
    margin: 20px;
}

.qrcode {
    min-width: 256px;
    min-height: 256px;
/*
    border: 1px solid #ddd;
*/
}

code.btc-addr {
    font-size: 90%;
    text-align: center;
}

code.btc-privkey {
    text-align: center;
    word-wrap: break-word;
}

code.inline {
    font-size: 70%;
}

.text-muted {
    opacity: .50;
}

.cointype-label {
    margin-left: 16px !important;
}

.opendime-store-link {
    color: #E1645F;
}
